* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  position: absolute;
}

.pimg1 {
  background-image: url("img/Gwegon.jpg");
  min-height: 100%;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ptext-1 {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext-2 {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext-2 p {
  color: #fff;
}

.ptext-1 .border-1 {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext-2 .border-2 {
  color: #fff;
}

.ptext .border .trans {
  background-color: transparent;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.pimg2 {
  background-image: url("img/BMW.jpg");
  min-height: 400px;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.pimg3 {
  background-image: url("img/Mercedes.jpg");
  min-height: 400px;
}

.section-dark .pimg1 {
  background-image: url("img/image1.jpg");
  min-height: 100%;
}

@media (max-width: 678x) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }

  .section {
    width: 100%;
    padding: 40px 60px;
    margin: 0px;
  }

  .section-dark,
  .section-light {
    text-align: left;
  }
}

@media (max-width: 475px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }

  .section {
    width: 100%;
    padding: 12px 15px;
    margin: 0px;
  }

  .section-dark,
  .section-light {
    text-align: left;
  }
}
